@page
@model Brewtiful.Pages.Caffees.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Caffee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Caffee.Name" class="control-label"></label>
                <input asp-for="Caffee.Name" class="form-control" />
                <span asp-validation-for="Caffee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caffee.Brand" class="control-label"></label>
                <input asp-for="Caffee.Brand" class="form-control" />
                <span asp-validation-for="Caffee.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caffee.VendorID" class="control-label"> Vendor Name</label> 
                <select asp-for="Caffee.VendorID" class="form-control" asp-items="ViewBag.VendorID"></select>
                <span asp-validation-for="Caffee.VendorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caffee.ExpirationDate" class="control-label"></label>
                <input asp-for="Caffee.ExpirationDate" class="form-control" />
                <span asp-validation-for="Caffee.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caffee.Price" class="control-label"></label>
                <input asp-for="Caffee.Price" class="form-control" />
                <span asp-validation-for="Caffee.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
